orikaPort:85
SqlServerAdd:95.111.253.230,7082
SqlServerDatabase:orika_demo
SqlServerUserID:sa
SqlServerPassword:ok@12345
MTServerAdd:38.170.242.2:443
MTServerUserID:1017
MTServerPassword:ASDF123
MSMQQueuName:orika_demo
dataFeedServer:13.126.83.17:60631
GatewayServer:95.111.253.230:99801
ExchangeCode:0
APIFolderPath:C:\\OrikaClient_proto_95\\API\\ClosingFile\\App_Data\\